<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>成績一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('order.list') }}">成績一覧</a></li>
    </ul>

    <a href="{{ url_for('order.add') }}">新規入力</a>
    
    <table>
    <tr>
        <th></th>
        <th>生徒</th>
        <th>科目</th>
        <th>種類</th>
        <th>テスト結果</th>
    </tr>
    
    {% for order in items %}
        <tr>
            <td><a href="{{ url_for('order.edit', order_id=order.id) }}">編集</a></td>
            <td>{{ order.user.name }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.type }}</td>
            <td>{{ order.test_result }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
